<configuration>

    <springProfile name="production">
        <property name="LOG_HOME" value="./log"/>
        <appender name="FILE-AUDIT"
                  class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_HOME}/server.log</file>
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                rollover daily
                <fileNamePattern>${LOG_HOME}/archived/server.%d{yyyy-MM-dd}.log</fileNamePattern>
            </rollingPolicy>
        </appender>
        <root level="info">
            <appender-ref ref="FILE-AUDIT"/>
        </root>
    </springProfile>
    <springProfile name="staging">
        <property name="LOG_HOME" value="./log"/>
        <appender name="FILE-AUDIT"
                  class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_HOME}/server.log</file>
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                rollover daily
                <fileNamePattern>${LOG_HOME}/archived/server.%d{yyyy-MM-dd}.log</fileNamePattern>
            </rollingPolicy>
        </appender>
        <root level="info">
            <appender-ref ref="FILE-AUDIT"/>
        </root>
    </springProfile>
    <springProfile name="test">
        <property name="LOG_HOME" value="./log"/>
        <appender name="FILE-AUDIT"
                  class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_HOME}/server.log</file>
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                rollover daily
                <fileNamePattern>${LOG_HOME}/archived/server.%d{yyyy-MM-dd}.log</fileNamePattern>
            </rollingPolicy>
        </appender>
        <root level="info">
            <appender-ref ref="FILE-AUDIT"/>
        </root>
    </springProfile>
    <springProfile name="default">
        <property name="LOG_HOME" value="./log/"/>
        <appender name="FILE-AUDIT"
                  class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_HOME}/server.log</file>
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                rollover daily
                <fileNamePattern>${LOG_HOME}/archived/server.%d{yyyy-MM-dd}.log</fileNamePattern>
            </rollingPolicy>
        </appender>
        <root level="info">
            <appender-ref ref="FILE-AUDIT"/>
        </root>
    </springProfile>

</configuration>